Options -Indexes
php_value date.timezone "Asia/Kolkata"
RewriteEngine on
#RewriteRule profile/store_owner/([0-9\s])$ profile.php?type=$1&id=$2 [QSA,L,NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
#RewriteCond %{HTTPS} !on
#RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]